html, body {
  margin: 0;
}

h1 {
  position: relative;
}

.box {
  width: 100%;
  height: 120px;
  background-color: #333;
  position: relative;
  
}

.box-child {
  /* background-color: #fff; */
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  right: 0;
}
