.box {
  width: 100%;
  height: 120px;
  background-color: blueviolet;
}

.box::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.box::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
